#page span.circle{
	background-color: transparent;	
	background-image: url('../images/circle.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#sidebar .mejs-inner .mejs-controls .mejs-time-rail {
	left: 85px;
}


#page-content .blog-classic  .post .thumb{
	
	width: 211px;
	height: 140px;
}

#page-content .blog-classic .has-thumb .post p,
#page-content .blog-classic  .post h5{
	width: 50%;
	overflow: hidden;
	float: none;
	clear: none;
}

#page-content .blog-classic  .text{
	overflow: hidden;
}