


#tp-bgslider{	
	width: 100%;
	height: 100%;
	z-index: 0;
	position: fixed;
	left: 0px;
	top: 0px;	
}

#tp-bgslider .bgslider-img{
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 0px;	
	width: 100%;
	height: 100%;	
}

#tp-bgslider img{
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#tp-bgslider video{
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}