

.tp-bgslider-table .column-del{
	width: 2%;
}

.tp-bgslider-table .column-title{
	width: 15%;
}

.tp-bgslider-table .column-appears-pages{
	width: 20%;
}
.tp-bgslider-table .column-appears-posts{
	width: 20%;
}

.tp-bgslider-table .column-thumbs .description{
	line-height: 40px;
}

.tp-bgslider-table tbody tr,
.tp-bgslider-table tbody td{
	height: 50px;
	vertical-align: middle;
}

.tp-bgslider-table .tp-bgslider-thumb{
	vertical-align: middle;	
	max-height: 40px;
	height: 40px;
	width: 80px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-size: cover;
	background-repeat: no-repat;
	float: left;
}



.wp-admin table.tp-bgslider {
	margin-bottom: 30px;
}

.wp-admin table.tp-bgslider select{
	width: 200px;
	height: 150px;
	margin-right: 10px;
}

.wp-admin table.tp-bgslider .tp-bgslider-image{
	width: 170px;
	height: 100px;
	margin-right: 30px;
	margin-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 3px;
	background-color: ##EAEAEA;
	float: left;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
}

.wp-admin table.tp-bgslider .holder{
	width: 430px;
	clear: left;
	margin-top: 20px;
}

.wp-admin table.tp-bgslider .holder .remove{
	cursor: pointer;
	width: 16px;
	height: 16px;
	position: absolute;
	top: -8px;
	right: -8px;
	background-image: url('../images/remove.png');
	background-repeat: no-repeat;
}