@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);	
@import url(http://fonts.googleapis.com/css?family=PT+Sans);	
@import 'css/reset.css';

body,html{
	height: 100%;
	width: 100%;		
	font-family: 'PT Sans';
	text-align: center;
	margin: 0px auto;
	font-size: 14px;
	line-height: 20px;
	color: #444;
	background-color: #000;
}

b,strong{
	font-weight: bold;
}

.hidden{
	display: none;
}


a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #93805d;
}

h1,h2,h3,h4,h5,h6{
	clear: both;
	width: 100%;
	font-weight: bold;
}

h1{
	font-size: 26px;
	line-height: 26px;
}

h2{
	font-size: 24px;
	line-height: 24px;
}

h3{
	font-size: 22px;
	line-height: 22px;
}

h4{
	font-size: 20px;
	line-height: 20px;
}

h5{
	font-size: 18px;
	line-height: 18px;
}

h6{
	font-size: 16px;
	line-height: 16px;
}

article.post p + h3{
	margin-top: 20px;
}


em.featured{
	color: #8f6f24;
	font-style: italic;
}

.grey{
	color: #777;
	font-weight: normal;
}

.extra-large{
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 60px;
}


#content blockquote,
#content blockquote p,
blockquote{
	line-height: 24px;
}	

#content blockquote{
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 60px;	
	min-height: 62px;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
}


blockquote em{
	clear: left;
	float: left;
}

em,i{
	font-style: italic;
}

hr{
	background-color: #e5e5e5;
	height: 1px;
	width: 100%;
	clear: both;
	margin: 0px;
	margin-bottom: 40px;	
	margin-top: 40px;		
	float:left;
}



	
mark{
	background-color: #f0ecd1;
	padding-left: 4px;
	padding-right: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

mark.dark{
	background-color: #444;
	color: #fff;
}

dfn{
	border-bottom: 1px dashed;
	font-style: italic;
}

p code{
	font-family: 'Courier New',sans-serif;
	color: #666;
	font-size: 12px;
	border: 0px;
	background-image: none; 
	padding: 0px; 
	margin: 0px;
	float: none;
}

code{
	font-family: 'Courier New',sans-serif;
	color: #666;
	font-size: 12px;
	width: 98%;
	border: 1px solid #ccc;		
	background-image: url('images/code_bg.gif');
	padding-left: 1%;
	padding-right: 1%;		
	margin-bottom: 15px;	
	margin-top: 15px;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


var{
	font-style: italic;
	font-family: Consolas,Monaco,Lucida Console,monospace;
}

pre {
	font-family: 'Courier New',sans-serif;	
	line-height: 20px;
	width: 98%;
	clear: both;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 15px;
	padding-bottom: 15px;	
	border: 1px solid #d5d5d5;		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f4f4f4;
	white-space: pre-wrap;
}

	
#content iframe,
#content object{
	width: 100%;
	max-width: 100%;
}	
	
	
#site{
	text-align: center;
	margin: 0px auto;	
	height: 100%;
	width: 716px;
	position: absolute;	
	left: 0%;
	
}


#site a,img{
	outline: none;
}



#page{	
	position: absolute;
	width: 666px;
	min-height: 100%;	
	background-image: url('images/page-bg.png');
	background-repeat: repeat-y;
	background-position: 0px 0px;	
	z-index: 1;
	top: 0px;
	left: 50px;		
}	
	

#sidebar{
	width: 306px;
	padding-right: 8px;
	height: 100%;		
	position: absolute;
	left: -322px;	
	z-index: 2;	
}


#line-shine{
	width: 306px;
	height: 100%;
	background-image: url('images/sidebar-lineshine.png');
	background-repeat: no-repeat;
	background-position: top center;	
	position: fixed;
	z-index: 5;
}

#lines{
	width: 322px;
	height: 100%;
	background-image: url('images/sidebar-lines.png');
	background-repeat: repeat-y;
	background-position: top center;
	position: fixed;
	z-index: 4;
	margin-left: -8px;
}



#texture{
	width: 306px;
	height: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #000;
	position: fixed;
	z-index: 3;
}


.texture-glossy{
	background-image: url('images/texture-glossy.jpg');
}

.texture-carbon{
	background-image: url('images/texture-carbon.jpg');
}

.texture-leather-black{
	background-image: url('images/texture-leather-black.jpg');
}

.texture-leather-brown{
	background-image: url('images/texture-leather-brown.jpg');
}

.texture-leather-red{
	background-image: url('images/texture-leather-red.jpg');
}

.texture-wood-black{
	background-image: url('images/texture-wood-black.jpg');
}

.texture-wood-brown{
	background-image: url('images/texture-wood-brown.jpg');
}

.texture-wood-red{
	background-image: url('images/texture-wood-red.jpg');
}

#sidebar-content{
	position: fixed;
	margin: 0px auto;
	width: 259px;	
	margin-left: 24px;	
	z-index: 100;
	
	
}


#sidebar-content .below-menu{
	text-align: center;
	margin-top: 40px;
	color: #fff;
	display: none;
}

#sidebar-content .social-icons{
	text-align: center;
	position: absolute;
	bottom: 15px;	
	width: 100%;
	display: none;
}

#sidebar-content .tp-icon{		
	opacity: 0.5;	
}
#sidebar-content .tp-icon:hover{
	opacity: 1;	
}

#sidebar-content .social-icons a{
	padding: 5px;	
}


#logo{
	margin: 0px auto;
	text-align: center;
	margin-bottom: 48px;
	position: relative;	
	padding-top: 60px;
}



#sidebar .menu{
	position: relative;
	margin: 0px auto;
	text-align: center;
	width: 100%;
}


#sidebar .menu a{
	font-family: 'PT Sans Narrow';
	text-decoration: none;
	color: #999;
	font-size: 15px;
	display: block;			
	padding-top: 5px;
	background-image: url('images/menu-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 30px;	
	
}

#sidebar .menu a:hover,
#sidebar .menu .current-menu-item > a{
	color: #fff;
	background-image: url('images/menu-bg2.png');
}

#sidebar .menu li:last-child a{
	background-image: none;
}

#sidebar .menu .sub-menu  a{
	font-size: 13px;
}

#sidebar .menu .sub-menu  {	
	display: none;
	padding-bottom: 20px;
}

#sidebar .menu .sub-menu  li a{
	background-image: none;
	height: 22px;	
}

#sidebar .menu  .sub-menu {
	background-image: url('images/menu-bg.png');	
	background-repeat: no-repeat;
	background-position: center bottom;
}


.loading{
	position: absolute;	
	top: 40%;
	left: 50%;
	margin: 0px auto;
	margin-left: -20px;
	display: none;		
	text-align: center;
}
	
	
#page-content{	
	text-align: left;		
	padding-bottom: 80px;	
	padding-right: 9px;		
	
}




/* WARNING FOR IE7 OR LOWER */

#ie_warning{
	display: none;
	width: 100%;
	height: 100%;
	line-height: 30px;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	text-align: center;
	margin: 0px auto;
	color: #333;
	font-size: 14px;	
	z-index: 1002;
	background-color: #fff;
	padding-top: 350px;
	position: fixed;	
}

#ie_warning a{
	color: blue;
}
	
	
	
	
/* JAVASCRIPT FALLBACK */	

#notification {	
	left: 0px;
	top: 50%;
	margin-top: 40px;
	height: 22px;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 20;	
	font-size: 14px;
	color: #fff;	
	line-height: 22px;
	z-index: 200;
	
}

#preloader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000;
	z-index: 199;
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}


#page-content img{	
	height: auto;
}

#page-content{	
	padding-right: 50px;
}

#content{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	min-height: 600px;
	max-width: 576px;
	min-width: 576px;
	width: 576px;
}

#content p{	
	margin-bottom: 20px;	
	line-height: 20px;
}


#content article.single-post p:first-of-type,
#content article.format-audio p:first-of-type{
	clear: both;
}

#content article p:last-child{
	margin-bottom: 0px;
}

#content form p{
	margin-bottom: 20px;
}

#content p:empty{
	display: none;	
}

#content img.border{
	max-width: 100%;	
	width: calc(100% - 6px);	
	padding: 2px;
	border: 1px solid #bbbbbb;
	height: auto;	
}

#content img.image{		
	padding: 2px;
	border: 1px solid #bbbbbb;
	height: auto;	
	margin-right: 15px;
}

#tp-bgslider-holder{
	display: none;
	filter: inherit;	
}

#page-content .vspace{
	height: 40px;
	width: 100%;
	clear: both;
}

#page-content .vspace2{
	height: 60px;
	width: 100%;
	clear: both;
}

#page-content .clear{
	clear: both;
}

.alignleft{
	float: left;	
}
.alignright{
	float: right;
}



/* BLOG POSTS / CLASSIC */

#page-content .blog-classic article{
	clear: both;
	width: 100%;
	margin-bottom: 40px;
	float: left;
}

#page-content .blog-classic .info{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 31px;
	width: 100%;
	color: #777777;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 11px;
}

#page-content .blog-classic .info img{
	vertical-align: middle;
	margin-right: 5px;
}

#page-content .blog-classic  h5{
	margin-bottom: 20px;
	clear: none;
	word-wrap: break-word;
	overflow: hidden;
	max-width: 55%;
}

#page-content .blog-classic  p{
	clear: none;
	color: #666666;
	margin-bottom: 0px;
}

#page-content .blog-classic  .moretag{
	float: right;
}

#page-content .blog-classic  .text img{
	width: 211px;
	height: 140px; 
	margin-right: 30px;	
	float: left;	
	padding: 2px;
	border: 1px solid #bbbbbb;
}

#page-content .blog-classic  .text{
	position: relative;
}

#page-content .blog-classic .text  .play{
	width: 211px;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('images/icon-play.png');
	background-repeat: no-repeat;
	background-position: center center;
}


#page-content .blog-classic .quote blockquote{
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 40px;	
	min-height: 62px;
	font-size: 16px;	
	font-style: italic;
}

#page-content .blog-classic iframe{
	width: 100%;
}


.sticky{
	background-image: url('images/sticky.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}



/* PAGE NAVIGATION */

#page #page_control a{
	color: #777;
	display: inline;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	width: auto;
	font-size: 13px;	
}

#page #page_control{
	width: 100%;
	clear: both;
}


#page #page_control #left{
	width: 40%;
	float: left;
}

#page #page_control #right{
	width: 40%;
	float: left;
}

#page #page_control #right a{
	float: right;
}

#page #page_control-older{
	text-align: right;
	float: right;
	padding-right: 35px;
	background-image: url('images/page-next.png');
	background-position: right center;
	background-repeat: no-repeat;
}

#page #page_control-newer{
	text-align: left;
	float: left;
	padding-left: 35px;
	background-image: url('images/page-prev.png');
	background-position: left center;
	background-repeat: no-repeat;
}

#page .pageof{
	font-style: italic;
	text-align: center;
	color: #777;
	font-size: 13px;
	width: 20%;
	line-height: 30px;
	float: left;
}

#page #page_control-responsive{
	display: none;
}







/* BLOG - MASONRY */

.blog-masonry #masonry-holder-left{
	width: 50%;	
	position: relative;
	float: left;
}

.blog-masonry #masonry-holder-right{
	width: 50%;	
	position: relative;
	float: right;
}

.blog-masonry .brick{ 
	width: 273px;
	margin-bottom: 50px;			
	position: relative;
}

.blog-masonry #masonry-holder-left .brick{
	float: left;
}

.blog-masonry #masonry-holder-right .brick{
	float: right;
}

.blog-masonry .brick img.wp-post-image{ 
	max-width: 100%;
	width: 100%;
}

.blog-masonry .brick h2 {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 22px;
	word-wrap: break-word;
}

#page-content .blog-masonry .categories{
	font-size: 14px;
	color: #777777;
	width: 100%;
	line-height: 20px;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 0px;
}


#page-content .blog-masonry .sticky .categories{
	padding-left: 20px;
}

.blog-masonry .info{
	height: 26px;
	line-height: 26px;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	clear: both;
	font-size: 11px;
	font-style: italic;
	color: #777777;
	text-transform: uppercase;
	margin-top: -3px;
	margin-bottom: 15px;
}

#page-content .blog-masonry .info img{
	vertical-align: middle;
	margin-right: 5px;
}

#page-content .blog-masonry .video-thumb{
	position: relative;
	float: left;
}

#page-content .blog-masonry .video-thumb  .play{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('images/icon-play.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#page-content .blog-masonry iframe{
	max-width: 100%;
	height: auto;
}

#page-content .blog-masonry  blockquote{
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 40px;	
	min-height: 62px;
	font-style: italic;
	color: #666;
	font-size: 16px;
}

#page-content .blog-masonry .excerpt{
	color: #666;
}

#page-content .blog-masonry .small-gal {
	clear: both;
	margin-top: 4px;
	float: left;
}
#page-content .blog-masonry .small-gal  li{
	float: left;
	display: inline;
	margin-right: 4px;
	width: 65px;
	height: 65px;
	overflow: hidden;
}

#page-content .blog-masonry .small-gal li.nomg{
	margin-right: 0px;
}

#page-content .blog-masonry .small-gal  li img{
	max-width: 100%;
}

.blog-masonry .excerpt{
	margin-bottom: 20px;
}





/* BLOG - FULL */

#page-content .blog-full p{
	margin-bottom: 0px;
}

#page-content .blog-full article{
	clear: both;
	width: 100%;
	margin-bottom: 40px;
	float: left;
}

#page-content .blog-full iframe {
	width: 100%;
	margin-bottom: 15px;
}

#page-content .blog-full .info{
	height: 26px;
	line-height: 26px;
	font-size: 11px;
	font-style: italic;
	color: #777777;
	text-transform: uppercase;
	margin-top: -3px;
	margin-bottom: 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	overflow:hidden; 
}



#page-content .blog-full .info img{
	vertical-align: middle;
	margin-right: 5px;
}

#page-content .blog-full  h2{
	font-size: 20px;	
	line-height: 22px;
	margin-bottom: 5px;	
	clear: none;
	float: none;		
	word-wrap: break-word;
	overflow: hidden;
	max-width: 85%;
}

#page-content .blog-full .date{
	width: 109px;
	height: 54px;
	background-color: #262626;
	margin-left: -40px;	
	float: left;
	margin-right: 20px;
}

#page-content .blog-full .date-holder{
	float: right;
	width: 75px;
	margin-top: 17px;
	margin-right: 7px;
	position: relative;
	text-align: right;
}

#page-content .blog-full .date .day{
	font-family: 'Arial';
	font-size: 42px;
	letter-spacing: -2px;
	font-weight: bold;
	color: #fff;
	padding-right: 4px;
}

#page-content .blog-full .date .year{
	font-family: 'Arial';
	font-size: 12px;	
	font-weight: bold;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	display: inline-block;	
	letter-spacing: 0.7px;
	float: left;
	margin-right: -6px;
	color: #999;
}

#page-content .blog-full .date .month{
	position: absolute;
	font-family: 'Arial';
	font-size: 11px;
	letter-spacing: -1px;
	font-weight: bold;
	color: #fff;
	right: 0px;
	top: 15px;
	text-transform: uppercase;
	line-height: 0px;
	background-color: #262626;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	line-height: 12px;
    padding-left: 2px;
    padding-right: 4px;
}


#page-content .blog-full .post{	
	margin-bottom: 0px;	
}

#page-content .blog-full .post .wp-post-image{	
	margin-bottom: 15px;
}

#page-content .blog-full .format-quote blockquote{
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	min-height: 62px;
	padding-left: 40px;
	font-style: italic;
	font-size: 16px;
}


#page-content .blog-full .video-thumb{
	position: relative;
	float: left;
}

#page-content .blog-full .video-thumb  .play{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('images/icon-play.png');
	background-repeat: no-repeat;
	background-position: center center;
}


#page-content .blog-full .post-sep,
#page-content .blog-fullposts .post-sep{
	width: 100%;
	background-image: url('images/post-sep.gif');
	background-repeat: repeat-x;
	height: 3px;
	margin-top: 40px;
	margin-bottom: 40px;
	clear: both;
	float: left;
	margin-left: -40px;
	padding-right: 80px;
}

#page-content .blog-full .post-sep:last-child{
	display: none;
}


#page-content article.first{
	margin-bottom: 0px;
}

#page-content article.first p{
	margin-bottom: 0px;
}




/* POST */

#page-content .single-post{
	
}

#page-content .single-post .featured-image{
	width: 100%;
	margin-left: -40px;
	padding-right: 80px;
	height: 220px;
	background-position: center center;
	margin-bottom: 30px;
	clear: both;
}

#page-content .single-post .info{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 22px;	
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	color: #777777;
	margin-bottom: 30px;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 11px;
}

#page-content .single-post .info img{
	vertical-align: middle;
	margin-right: 5px;
}

#page-content .single-post blockquote{
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 40px;	
	min-height: 62px;
	font-style: italic;
	font-size: 16px;
}

#page-content .single-post iframe{
	margin-bottom: 20px;
}





/* GALLERY */
#page-content .gallery{
	margin-top: 20px;	
	clear: both;
	width: 100%;
	float: left;
}

#page-content .gallery-columns-3{
	width: 100%;	
}

#page-content .gallery-columns-2 .gallery-item{ width: 50%; }
#page-content .gallery-columns-3 .gallery-item{ width: 33%; }
#page-content .gallery-columns-4 .gallery-item{ width: 25%; }
#page-content .gallery-columns-5 .gallery-item{ width: 20%; }
#page-content .gallery-columns-6 .gallery-item{ width: 16%; }
#page-content .gallery-columns-7 .gallery-item{ width: 14%; }
#page-content .gallery-columns-8 .gallery-item{ width: 12%; }
#page-content .gallery-columns-9 .gallery-item{ width: 11%; }

#page-content .gallery-item{
	float: left;			
	margin-bottom: 15px;	
	text-align: center;
	clear: none;		
}

#page-content img.attachment-thumbnail {
	padding: 2px;
	border: 1px solid #dedede;
	text-align: center;
	max-width: 90%;	
	height: auto;
}



/* THICKBOX STYLING */

#TB_window{
	background-color: #000;
	color: #fff;
	border: 1px solid #222;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}

#TB_window #TB_secondLine{
	font-size: 0px;
	line-height: 20px;
	margin-top: 10px;
	color: #000;	
}

#TB_window #TB_secondLine a{
	color: #000;	
}

#TB_window img#TB_Image{
	border: 0px;
	border-width: 0px;
}


#TB_window .tb-close-icon:before{
	content: '';
}

#TB_window .tb-close-icon{
	background: url('images/tb-close.png') no-repeat scroll 0% 0% transparent;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 30px;
	height: 30px;
}

#TB_window a:hover{
	color: #fff;
}

#TB_caption {
	padding: 0px;
	padding-top: 10px;
	float: none;
	width: 100%;
	clear: both;
	text-align: center;
}

#TB_prev{
	background: url('images/tb-prev.png') no-repeat scroll 0% 0% transparent;
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 15px;	
	cursor: pointer;
}

#TB_next{
	background: url('images/tb-next.png') no-repeat scroll 0% 0% transparent;
	width: 16px;	
	height: 16px;
	float: right;
	cursor: pointer;
	margin-right: 15px;
}

#TB_load{
	background-color: #000;
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 0px;
	line-height: 100px;	
	text-align: center;	
}
#TB_load img{
	width: 36px;
	height: 36px;
	margin: 0px auto;
	text-align: center;
	vertical-align: middle;
}





/* CUSTOM TAGS, CATEGORIES */

.widget_tag_cloud a{
	font-style: italic;
}

.widget_tag_cloud span{
	font-weight: bold;
	float: left;
	margin-right: 10px;
}






/* AUTHOR */
#content .author{
	clear: both;
	width: 100%;	
}

#content .author .avatar {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	border: 1px solid #bbbbbb;
	width: 96px;
	height: 96px;
}

#content .author h3{
	margin-bottom: 10px;
	width: auto;
	font-size: 15px;
	clear: none;
}	

#content .author p{
	font-style: italic;
	clear: none;
	margin-bottom: 0px;
}




/* RELATED POSTS */

#content .related-posts{
	clear: both;
	width: 100%;	
}

#content .related-posts ul{
	clear: both;
	margin-top: 30px; 
}

#content .related-posts ul li{
	width: 172px;	
	float: left;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	background-image: none;
	margin-right: 30px;
	clear: none;
}

#content .related-posts ul li img{
	max-width: 100%;	
	padding: 2px;
	border: 1px solid #bbbbbb;
	height: auto;
}

#content .related-posts ul li:nth-child(3){
	margin-right: 0px;
}

#content .related-posts ul li .post-title{
	text-transform: uppercase;
	font-size: 13px;
	
}

#content .related-posts ul li .date{
	font-size: 13px;
	text-transform: uppercase;
	color: #777777;
	font-style: italic;
}



/* SOCIAL ICONS */

#content .social-sharing{
	width: 100%;
	clear: both;	
	margin-top: 30px; 
}

#content .social-sharing p{
	float: left;
	margin: 0px;
}

#content .social-sharing .holder{
	float: right;
	text-align: right;
}

#content .social-sharing .holder a{
	float: left;
	margin-left: 15px;
	opacity: 0.6;
}

#content .social-sharing .holder a:hover{
	opacity: 1;
}



/* COMMENTS */

#content .commentlist{
	clear: both;
	width: 100%;
	margin-top: 30px;
}

#content .commentlist li{
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;		
	padding: 0px;
	padding-left: 0px;
	background-image: none;	
}

#content .commentlist li .children li{
	border: 0px;
}

#content .commentlist li .children li:last-child{
	margin-bottom: 0px;
}

#content .commentlist .avatar{
	width: 52px;
	height: 52px;	
	padding: 2px;
	border: 1px solid #bbbbbb;
	float: left;
	margin-right: 20px;
}

#content .commentlist p{
	clear: none;
	float: none;
	margin-bottom: 0px;
}

#content .commentlist .comment-author{
	font-weight: bold;
}

#content .commentlist .comment-info{
	font-style: italic;
	font-size: 13px;
	color: #777777;
	margin-bottom: 10px;
}

#content .commentlist .comment{
	font-size: 13px;
	padding-bottom: 30px;
}

#content .commentlist .holder{
	float: left;
	width: 80%;	
}

#content .commentlist li .children{
	padding-left: 5%;
}

#content h5 span{
	color: #777;
	font-weight: normal;
}




/* FORM ELEMENTS */

textarea{ 
	width: 99%;
	border: 1px solid #dad9d9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	min-height: 60px;
	padding: 1px;
	font-size: 13px;
}

textarea:focus{ 
	background-color: #f4f4f4;
}

input[type="text"],
input[type="email"],
input[type="password"]{ 
	width: 98%;
	border: 1px solid #dad9d9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 26px;
	line-height: 26px;
	padding-left: 4px;	
	padding-right: 4px;	
	color: #777777;
	font-style: italic;
	font-size: 13px;
}

input[type="text"]:focus,
input[type="password"]:focus{
	background-color: #f4f4f4;
	color: #444;
	font-style: normal;
}




/* REPLY */
#content  #respond{
	clear: both;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

#content h3#reply-title{
    font-size: 18px;
    line-height: 18px;
	margin-bottom: 30px;
}

input[type="submit"],
#content  #respond #submit{
	background-color: #444444;
	color: #acacac;
	cursor: pointer;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0px;
	clear: both;
}

input[type="submit"]:hover,
#content  #respond #submit:hover{	
	color: #fff;	
}

#content #respond form label{
	display: none;
}

#content #respond p{
	float: left;
	clear: none;
}

#content #respond #author{
	padding-left: 48px;	
	width: 219px;
	background-image: url('images/input-reply-author.png');
	background-position: left center;
	background-repeat: no-repeat;
	margin-right: 30px;
}

#content #respond #email{
	padding-left: 48px;	
	width: 219px;
	background-image: url('images/input-reply-email.png');
	background-position: left center;
	background-repeat: no-repeat;
}

#content #respond #url{
	padding-left: 48px;	
	width: 522px;
	background-image: url('images/input-reply-website.png');
	background-position: left center;
	background-repeat: no-repeat;
	clear: both;
}


#content  #respond #comment{
	clear: both;
}

#content #respond .form-submit,
#content #respond .comment-form-comment{
	clear: both;
	width: 100%;
}

#content input.error,
#content textarea.error{
	border-color: #ba7b7b;
}

#content #comment-loading{
	float: left;
	width: 30px;
	height: 30px;
}


#content #comment-nav-below{
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 30px;	
}

#content #comment-nav-below a{
	color: #777;
	display: inline;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	width: auto;
	font-size: 13px;	
}

#content #comment-nav-below .nav-previous a{
	text-align: right;
	float: right;
	padding-right: 35px;
	background-image: url('images/page-next.png');
	background-position: right center;
	background-repeat: no-repeat;	
}

#content #comment-nav-below .nav-next a{
	text-align: left;
	float: left;
	padding-left: 35px;
	background-image: url('images/page-prev.png');
	background-position: left center;
	background-repeat: no-repeat;
}

#content  #cancel-comment-reply-link{
	color: #777;
	float: right;
	font-size: 13px;
	text-transform: uppercase;
}

#content #respond h3 span{
	color: #777;
	font-weight: normal;
}






/* COLUMNS */


#content .col p{
	margin-bottom: 0px;
	clear: both;
}

.column{
	width: 100%;
	clear: both;
	float: left;
}


#content .one_half{
	width: 273px;
	margin-right: 30px;
	margin-left: 0px;
	float: left;    
	min-height: 1px;
	overflow: hidden;
}	

#content .one_third{
	width: 172px;
	margin-right: 30px;
	margin-left: 0px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}	

#content .two_third{
	width: 374px;
	margin-right: 30px;
	margin-left: 0px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}	

#content .one_fourth{
	width: 121px;
	margin-right: 30px;
	margin-left: 0px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}	

#content .three_fourth{
	width: 423px;
	margin-right: 30px;
	margin-left: 0px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}	


#content .last{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#content .one_half + br,
#content .one_third + br,
#content .two_third + br,
#content .one_fourth + br,
#content .three_fourth + br{
	display: none;
}




/* FOOTER */

footer{
	width: 576px;
	max-width: 576px;
	clear: both;
	float: left;
	padding-top: 60px;	
	margin-top: 30px;	
	margin-bottom: 30px;
	font-size: 13px;
	padding-left: 40px;
	padding-right: 40px;
	background-image: url('images/footer-bg.gif');
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

footer h6{
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url('images/footer-heading.gif');
	background-position: bottom left;
	overflow: hidden;
}







/* WIDGETS */

.widget{
	clear: both;
	width: 100%;
	margin-bottom: 30px;
}

.widget ul{
	width: 100%;
}

.widget ul li{
	clear: left;
}




/* WIDGET - CONTACT INFO */

.widget .contact_nfo li{
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-bottom: 10px;
}
footer .widget .contact_nfo .address{
	background-image: url('images/icon-location.png');
}
footer .widget .contact_nfo .phone{
	background-image: url('images/icon-phone.png');
}
footer .widget .contact_nfo .email{
	background-image: url('images/icon-email.png');
}





/* WIDGET - RECENT/POPULAR POSTS */

.widget_post_list li{
	clear: left;
	float: left;
	font-size: 13px;
	margin-bottom: 10px;
	width: 100%;
}

.widget_post_list li p{
	line-height: 18px;
}

.widget_post_list img{
	float: left;
	background-color: #fff;
	padding: 2px;
	border: 1px solid #bbbbbb;
	padding: 2px;
	margin-right: 10px;
	max-width: 65px;
	width: 65px;
	height: auto;
}

.widget_post_list span.date{
	color: #777777;	
	font-size: 12px;	
	font-style: italic;
}






/* WIDGET LISTS */ 

.widget-tp-tags li,
.widget_archive li,
.widget_categories li,
.widget_nav_menu li,
.widget_recent_entries li,
.widget_pages li,
.widget_rss li,
.widget_meta li{
	clear: left;
	float: left;
	font-size: 13px;
	min-height: 18px;
	line-height: 18px;
	width: 90%;
	background-image: url('images/list-1.png');
	background-position: 0px 5px;
	background-repeat: no-repeat;
	padding-left: 18px;
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.widget-tp-tags li:hover,
.widget_archive li:hover,
.widget_categories li:hover,
.widget_nav_menu li:hover,
.widget_recent_entries li:hover,
.widget_pages li:hover,
.widget_rss li:hover,
.widget_meta li:hover{
	background-image: url('images/list-1-b.png');	
}

.widget-tp-tags li a,
.widget_archive li a,
.widget_categories li a,
.widget_recent_entries li a,
.widget_nav_pages li a,
.widget_nav_menu li a,
.widget_pages li a,
.widget_rss li a,
.widget_meta li a{
	display: block;
}





/* WIDGET - CALENDAR */

.widget_calendar #calendar_wrap {
	border: 1px solid #e4e4e4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	overflow: hidden;
	padding-bottom: 33px;
}
#calendar_wrap caption {
	border-bottom: 2px solid #222;
	padding: 7px 0;
	text-align: center;
	text-transform: uppercase;
}
.widget_calendar table {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	position: relative;
	margin-bottom: -2px;
	font-size: 13px;
}
.widget_calendar th {
	text-align: center;
	width: 26px;
	height: 35px;
	border: 1px solid #e4e4e4;
	border-bottom: 0;
	vertical-align: middle;
	background-color: #f0f0f0;
}
.widget_calendar th:first-child {
	border-left: 0;
}
.widget_calendar th:last-child {
	border-right: 0;
}
.widget_calendar tbody tr {
	height: 32px;
}
.widget_calendar tbody tr > td {
	color: #777;
	text-align: center;
	border: 1px solid #e4e4e4;
	vertical-align: middle;
	padding: 0;	
}
.widget_calendar tbody tr > td:first-child {
	border-left: 0;
}
.widget_calendar tbody tr > td:last-child {
	border-right: 0;
}
.widget_calendar tbody tr > td a {
	padding: 6px 0;
	display: block;
	font-weight: bold;
	background-image: url('images/calendar-active.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
.sidebar .widget_calendar tbody tr > td a:hover {
	text-decoration: none;
}
.widget_calendar tbody tr > td.pad {
	border: 0;
	border-top: 1px solid #e4e4e4;
	background: transparent url('images/scanlines_dark.png') repeat 0 0;
}
.widget_calendar tfoot {
	position: absolute;
	bottom: -30px;
	width: 100%;
	display: block;
}
.widget_calendar tfoot tr {
	width: 100%;
	display: block
}
.widget_calendar tfoot td {
	padding: 5px 0;
	border-color: transparent;
	float: left;
}
.widget_calendar tfoot td#prev {
	padding-left: 10px;
	width: 40px;
	text-align: left;
}
.widget_calendar tfoot td#next {
	padding-right: 10px;
	width: 40px;
	text-align: right;
	float: right;
}
.widget_calendar tfoot td a:hover {
	text-decoration: none;
}




/* WIDGET - RECENT COMMENTS */

.widget_recent_comments li{
	background-image: url('images/icon-comment.png'); 
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 25px;	
	color: #777;
}

.widget_recent_comments li:hover{
	background-image: url('images/icon-comment-b.png'); 	
}

.widget_recent_comments li a{
	color: #444;
}



/* WIDGET - RECENT ENTRIES */

.widget_recent_entries li .post-date{
	font-style: italic;
	color: #777;
}





/*  WIDGET - RSS */
.widget_rss li .rss-date{
	font-style: italic;
	color: #777;
}



/* WIDGET - SEARCH */ 

.search{
	float: left;
	width: 100%;
	position: relative;
}
	
.widget_search{
	position: relative;
	width: 100%;
}

.search .input-text{
	font-size: 13px;
	line-height: 26px;
	height: 26px;
	width: 74%;
	padding-right: 25%;	
}

.search .input-button{
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
}

#content.search-results h6{
	font-size: 14px;
	line-height: 20px;
}

#content.search-results .results-info{
	color: #777;
	clear: left;
	margin-bottom: 30px;
}

.search-results .results-date{
	color: #777;
	clear: left;
	font-style: italic;
	padding-left: 18px;
}

.search-results .results-title{
	background-image: url('images/list-1.png');
	background-position: 0px 5px;
	background-repeat: no-repeat;
	padding-left: 18px;
}
.search-results .results-title:hover{
	background-image: url('images/list-1-b.png');
}




/* REVOLUTION SLIDER */

#content .rev_slider_wrapper {
	width: 656px !important;
	height: 293px !important;
	clear: both;
	background-color: #fefefe;
	background-image: url('images/slider-bottom.gif');
	background-repeat: repeat-x;
	background-position: center bottom;	
	margin-top: -50px !important;
	margin-bottom: 40px !important;	
	margin-left: -40px !important;
	padding-bottom: 13px !important;
}

#content .rev_slider{
	height: 293px !important;
}

#content .rev_slider_wrapper  .sliderbtn a{
	opacity: 0.6;
}
#content .rev_slider_wrapper  .sliderbtn a:hover{
	opacity: 1;
}


/* FONT AWESOME */

i[class^="icon-"], 
i[class*=" icon-"]{
	font-size: 32px;
	vertical-align: middle;
	margin-right: 5px;
}




/* CONTACT FORM 7 */
#content .wpcf7-form p{
	margin-bottom: 15px;
	clear: both;
	width: 100%;
	float: left;
}

#content .wpcf7-not-valid-tip{
	line-height: 20px;
	width: 200px;
	left: 100%;
	border: 0px;
	margin-left: 10px;
	padding: 0px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-image: url('images/icon-error.png');
	background-position: left center;
	background-color: transparent;
	color: #850000;	
	font-size: 11px;
}

#content .wpcf7-validation-errors{
	border-radius: 3px;
	background-color: #fff1ba;
	border: 1px solid #dec671;
	line-height: 35px;
	width: auto;
	display: inline-block;
	margin-left: 0px;
	margin-top: 30px;
}
	
#content .wpcf7-mail-sent-ok{
	background-color: none;
	border: 0;
	font-weight: bold;
	color: #17621f;
}
	
#content .wpcf7-mail-sent-ng{
	border-radius: 3px;
	background-color: #aa2727;
	border: 1px solid #700000;
	line-height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 0px;
	margin-top: 30px;
	color: #fff;
}
	
#content .wpcf7-quiz-label{
	float: left;
	padding-right: 15px;
	min-width: 120px;
	font-weight: bold;
	line-height: 28px;
}
	
#content .wpcf7-captchac{
	vertical-align: middle;
}

#content .wpcf7-response-output{
		margin-left: 0px;
}

#content .wpcf7-form {
	width: 100%;
}

#content .wpcf7-form label,
#content .wpcf7-quiz-label{
	float: left;
	font-weight: bold;
	margin-right: 15px;
	min-width: 150px;
	
}

#content .wpcf7-quiz-label{
	padding-right: 0px;
}

#content .wpcf7-form-control-wrap{
	float: left;
}

#content .wpcf7-quiz{
	width: 80px;
	float: left;
}

#content .wpcf7-form span[class|='quiz']{
	width: 100%;
}





/* PORTFOLIO */

.tp-portfolio{
	width: 100%;
}


.tp-portfolio .thumb img{	
	padding: 1px;
	border: 1px solid #bbbbbb;
	width: calc(100% - 4px);
	max-width: 100%;
	height: auto;
}


.tp-portfolio  .thumb{	
	position: relative;	
	display: block;
	line-height: 1px;
}

.tp-portfolio .hover{
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;	
	height: 100%;
	opacity: 0.7;
	display: none;
}

.tp-portfolio .hover .tpicon-play{
	width: 27px;
	height: 27px;	
	background-repeat: no-repeat;
	background-image: url('images/hover-play.png');
	position: absolute;
	left: 50%;
	margin-left: -14px;
	top: 50%;
	margin-top: -14px;	
}

.tp-portfolio .hover .tpicon-visit{
	width: 27px;
	height: 27px;	
	background-repeat: no-repeat;
	background-image: url('images/hover-open.png');
	position: absolute;
	left: 50%;
	margin-left: -14px;
	top: 110%;
	margin-top: -14px;	
}

.tp-portfolio  .col{
	padding-bottom: 1px;
	margin-top: 30px;
}

#pf-category-selector{
	width: 100%;
	min-height: 24px;	
	line-height: 24px;	
	padding-top: 6px;	
	padding-bottom: 6px;	
	background-color: #f0f0f0;
	clear: both;
	margin-bottom: 15px;
	margin-left: -40px;
	padding-right: 40px;
	padding-left: 40px;
	color: #777;
}

#pf-category-selector.center{
	text-align: center;
}

#pf-category-selector.right{
	text-align: right;
}



#pf-category-selector a{
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
}

#pf-category-selector a:hover{
	color: #333;
}

.tp-portfolio .title{
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}

.tp-portfolio .excerpt{
	margin-top: 10px;
}

.tp-portfolio  .col.center{
	text-align: center;
}
.tp-portfolio  .col.right{
	text-align: right;
}



/* NUMBERED CIRCLES */
span.circle{
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	-khtml-border-radius: 36px;
	border-radius: 36px 36px 36px 36px;	
	float: left;	
	color: #fff;
	font-size: 22px;
	font-family: arial;
	text-align: center;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: block;
	margin: 0px auto;
	margin-right: 8px;
	margin-top: 4px;
	background-color: #444;
}
span.circle.center{
	float: none;
	margin: 0px auto;
}
span.circle.right{
	float: right;
	margin-left: 8px;
}



/* LISTS */
#content article ul {
	list-style-type: none;
	list-style-position: inside;
}

#content article ul li {
	clear: left;
	float: left;
	min-height: 22px;
	line-height: 22px;	
	background-image: url('images/bullet.gif');
	background-position: 0px 9px;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#content .rev_slider_wrapper ul li{
	background-image: none;
	width: auto;
	background-image: none;
	padding: 0px;
}


#content ul li ul{
	padding-left: 14px;
}


#content ol {	
	list-style-type: decimal;
	list-style-position: inside;	
}

#content ol li {			
	clear: left;
	float: left;
	min-height: 22px;
	line-height: 22px;
	width: 90%;
	overflow: hidden;
}
	
#content ol li ol{
	padding-left: 14px;
	list-style-type: lower-alpha;	
}


#content ul.circle {
	list-style-type: disc;
	list-style-position: inside;
}

#content ul.circle li{
	list-style-type: disc;
	list-style-position: inside;
	background-image: none;
	padding: 0px;
	clear: left;
	float: left;
	min-height: 22px;
	line-height: 22px;
	width: 90%;
	overflow: hidden;
}


#content ul.arrow,
#content ul.arrow ul {
	list-style-type: none;
	list-style-position: inside;
}

#content ul.arrow li,
#content ul.arrow ul li {
	clear: left;
	float: left;
	min-height: 22px;
	line-height: 22px;
	width: 90%;
	background-image: url('images/list-1.png');
	background-position: 0px 5px;
	background-repeat: no-repeat;
	padding-left: 14px;
	overflow: hidden;
}

#content ul.arrow li:hover{
	background-image: url('images/list-1-b.png');	
}

	
	

/* TABLE */
table {		
	clear: left;	
	width: 100%;		
}

table thead  {
	border-bottom: 1px solid #777;
}

table thead th {
	font-weight: bold;
}

table th {
	height: 32px;
	vertical-align: middle;	
}

table tbody tr{
	border-bottom: 1px solid #eaeaea;		
}

table td {	
	height: 30px;
	vertical-align: middle;
}

table tbody tr:hover {
	background-color: #f5f5f5;
}



/* TABLE STYLE #2 */
table.style2 thead {
	background-color: #333;
}

table.style2 thead th {
	font-weight: normal;	
	color: #fff;
}

table.style2 tr {		
	border-bottom: 1px solid #dedede;	
}
table.style2 tbody {
	border: 1px solid #dedede;	
}

table.style2 tbody tr:hover {
	background-color: #f5f5f5;
}

table.style2  tr:nth-child(even){
	background-color: #f5f5f5;
}

table.style2  tr td:first-child,
table.style2  thead th:first-child{
	padding-left: 10px;
}

table.style2  tr td:last-child,
table.style2  thead th:last-child{
	padding-right: 10px;
}






#styler{
	display: none;
}


#responsive-sidebar{
	position: fixed;
	height: 100%;
	width: 58px;
	background-color: transparent;
	left: 0px;
	top: 0px;
	z-index: 2;
	background-image: url('images/sidebar-shadow.png');
	background-repeat: repeat-y;
	background-position: right top;
}

#rsp-logo,
#rsp-menu-nav{
	display: none;
}

#rsp-texture{
	width: 50px;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	background-position: top center;
	background-repeat: no-repeat;
}

#rsp-menu{
	cursor: pointer;
	width: 46px;
	height: 60px;
	margin-top: -30px;
	top: 50%;
	left: 0px;
	position: absolute;
	background-image: url('images/responsive-menu.png');
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
}

#rsp-menu:focus,
#rsp-menu:hover{
	opacity: 1;
}


#rsp-lineshine{
	width: 50px;
	height: 100%;
	background-image: url('images/sidebar-lineshine.png');
	background-repeat: no-repeat;
	background-position: right top;	
	position: absolute;
	left: 0px;
	top: 0px;
}

#rsp-lines{
	width: 50px;
	height: 100%;
	background-image: url('images/sidebar-lines.png');
	background-repeat: repeat-y;
	background-position: right top;
	position: absolute;
	left: 8px;
	top: 0px;
	
}

.tp-audio-player{
	display: none;
}



/* DEFAULT STYLES */

#content .center,
#content .aligncenter{
	text-align: center;
	float: none;
}
#content .right,
#content .alignright{
	text-align: right;
	float: right;
}
#content .left,
#content .alignleft{
	text-align: left;
	float: left;
}


.wp-caption-text{
	font-style: italic;
	margin-bottom: 20px;
}

div.alignnone,
div.alignleft,
div.alignright{
	max-width: 100%;
}


.page-links{
	clear: both;
	margin-top: 20px;
}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
	
	#page-content .blog-classic .text  .play{
		background-image: url('images/icon-play@2x.png');
	}
	
	#page-content .blog-classic .quote blockquote{
		background-image: url('images/quote@2x.png');
	}
	
	#content #respond #author{
		background-image: url('images/input-reply-author@2x.png');	
	}
	
	#content #respond #email{
		background-image: url('images/input-reply-email@2x.png');	
	}
	
	#content #respond #url{
		background-image: url('images/input-reply-website@2x.png');	
	}
}


#adminbar-search{
	background-image: none;
}

#wpadminbar{
	opacity: 0.6;
}
#wpadminbar:hover{
	opacity: 1;
}





i.fa{
	font-size: 18px;
	font-style: normal;
	vertical-align: middle;
	margin-right: 5px;
}

i.fa.large{
	font-size: 32px;
}
